h1 {
    text-align: center;
    font-size: 65px;
}

h4 {
    margin-left: 40%;
    font-size: 30px;
}

.intro { 
    font-size: 50px;
}


.prof {
    width: 450px;
}

.eagle {
    height: 120px;
}

.grad-hat {
    height: 120px;
}

p{
    transition: all .3s;
}

.highlight {
    border-top:10px ridge #54ce2e;
    border-right:10px ridge #f0ff00;
    border-bottom:10px ridge #00deff;
    border-left:10px ridge #2eb9ce;
    padding: 10px;
    background-color: #f0ff00;
}