h1 {
    text-align: center;
    font-size: 65px;
}

h4 {
    margin-left: 40%;
    font-size: 30px;
}

h2.intro { 
    font-size: 50px;
}

p.intro {

}

img.intro {
    width: 450px;
}

.eagle {
    height: 120px;
}

.grad-hat {
    height: 120px;
}